<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Welcom {{user_on_template.first_name}}, these are your stats!</h1>
        <div>
        <a class="little_space" href="/loging_out">Log Out</a>
        <a class="little_space" href="/wishes">Dashboard</a></div>
    </header>
    <div id="wrapper">
        <h2>Total wishes granted so far for all users {{granted_wishes_on_template}}</h2>
        <h3>Your granted wishes {{user_granted_wishes_on_template}}</h3>
        <h3>Your pending wishes {{user_pending_wishes_on_template}}</h3>
    </div>
</body>
</html>